body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.half-blog{
    width: 50%;
}
.half-blog img {
    width: 80%;
    padding-left: 10%;
}
p{
    text-align: justify;
    padding-bottom: 30px;
    padding-right:30px ;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}


#main-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;   
}
#second-section{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right; 
     
}
#third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.link-button{ 
        text-decoration: none;
        font-weight: 700;
        background: linear-gradient(
        180deg
        , #3242b0, #ff9716);
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
}

.half-second{
    width: 40%;
    border-left: 45deg,orange,black;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}
.all-block{
    display: flex;
    padding-bottom: 150px;
}
#first-gradiant{
    border-left: 10px solid;
    border-image: linear-gradient( purple, tomato);
    border-image-slice:1;
}
#second-gradiant{
    border-left: 10px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice:1;
}
footer p{
    text-align: center;
}
.color{
    color: red;
    font-weight: bold;;
}